/* app css stylesheet */
.well {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
}

.paddedleft {
padding-left: 20px;
}

.paddedtop {
padding-top: 10px;
}

td > a {
    color: #080808;
}

.condensed-table th, .condensed-table td {
  padding:5px 5px 4px;
}
accordion > div > div > div > a {
	color : #5e565e;
}

accordion > div > div > div > a:hover,
accordion > div > div > div > a:focus {
  color: #080808;
  text-decoration: underline;
}

div > div > ul > li a {
  color : #5e565e;
}

div > div > ul > li a:hover,
div > div > ul > li a:focus {
  color: #080808;
  text-decoration: underline;
}