<div class="row alert-block span" >
	<div class="span4">
		<a href="#/createclient" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create Client</a>
	</div>
	<div class="span8">
		<form class="form-search">
			<input type="text" placeholder="Clients">
	        <button class="btn" type="submit">Search</button>
		</form>
	</div>
</div>
<div class="row alert-block span" ng-controller="ClientCtrl">
	<table class="table table-bordered" ui:sortable ng:model="people">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in searchPaginator.currentPageItems">
                <td>{{item.accountNo}}</td>
                <td>{{item.firstname}}</td>
            </tr>
        </tbody>
    </table>
    <ul class="pager">
        <li class="previous"><a ng-click="searchPaginator.previous()" href="" ng-disabled="!searchPaginator.hasPrevious()">&larr; Prev</a></li>
        <li class="next" ><a ng-click="searchPaginator.next()" href="" ng-disabled="!searchPaginator.hasNext()">Next &rarr;</a></li>
    </ul>

</div>