<div class="row alert-block span" >
	<div class="span4">
		<a href="#/createclient" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create Client</a>
	</div>
	<div class="span8">
		<form class="form-search">
			<input type="text" placeholder="Clients">
	        <button class="btn" type="submit">Search</button>
		</form>
	</div>
</div>
<div class="row alert-block span" ng-controller="ClientCtrl">
	<table class="table" ui:sortable>
        <thead>
            <tr>
                <th>Name</th>
                <th>Account #</th>
                <th>Staff</th>
                <th>Office</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in searchPaginator.currentPageItems">
                <td><a href="#/viewclient/{{client.id}}">{{client.displayName}}</a></td>
                <td><a href="#/viewclient/{{client.id}}">{{client.accountNo}}</a></td> 
                <td>{{client.officeName}}</td>
                <td>{{client.staffName}}</td>
            </tr>
        </tbody>
    </table>
    <ul class="pager">
        <li class="previous"><a ng-click="searchPaginator.previous()" href="" ng-disabled="!searchPaginator.hasPrevious()">&larr; Prev</a></li>
        <li class="next" ><a ng-click="searchPaginator.next()" href="" ng-disabled="!searchPaginator.hasNext()">Next &rarr;</a></li>
    </ul>

</div>